html {
	height: 100%;
}

body {
	background-image: url(https://images.unsplash.com/photo-1607426740187-d8b1650d58f3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
	background-size: contain;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* height: 100%; */
}

h1,
.text-center {
	font-family: 'Indie Flower', cursive;
	text-align: center;
	font-size: 40px;
	color: rgb(113, 117, 129);
	margin-bottom: 20px;
}

#snow {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 1000;
}

#board td {
	width: 75px;
	height: 75px;
	border: solid 1px red;
	border-radius: 10%;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

#subtitle {
	text-align: center;
	margin-bottom: 30px;
}

#p1-color:hover {
	border-radius: 1px blue;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
	/* TODO: make into circles */
	margin: 0 12% 0 12%;
	width: 75%;
	height: 75%;
	border-radius: 50%;
}

/* I can't make the fall animation work in OOP, same with radial-gradient, 
I'm looking for a function that allows me to activate a color picker in the user side  */

/* .p1 {
	background: radial-gradient(circle, rgb(228, 227, 227) 0%, rgb(196, 229, 245) 100%);
}

.p2 {
	background: radial-gradient(circle, rgb(250, 248, 248) 0%, rgb(167, 172, 180) 100%);
}

.fall {
	animation-name: fall-animation;
	animation-duration: 1000ms;
}

@keyframes fall-animation {
	from {
		transform: translateY(-500px);
	}
	to {
		transform: translateY(0);
	}
} */

/* column-top is table row of clickable areas for each column */
#column-top td {
	border-radius: inherit;
}

#column-top td:hover {
	opacity: 0.1;
}
